- _fields = data["" << @module[keyword].bundle]["" << keyword].fields

- _columnKey = ((defined? fieldKey) ? fieldKey : _fields[fieldName]);

- _columnName = inputName(keyword, (_columnKey || 'error'))

- _ngModel = inputModel(keyword, (_columnKey || 'error'))

- _required = ((defined? required) ? required : 'false')

- _readonly = ((defined? readonly) ? readonly : 'false')

- _maxlength = ((defined? maxlength) ? maxlength : '32')

- if inputType == 'view'
  .form-group.form-md-line-input
    %label.control-label
      #{fieldName} #{@formIdName}

    :erb
      <input type='text' ng-model='<%=_ngModel%>' readonly="true" class='form-control' />

- else
  .form-group
    %label.control-label
      #{fieldName} #{@formIdName}
      - if _required == 'true'
        %span.required *

    - if defined? $btnName
      .input-group
        :erb
          <input type='<%=inputType%>' name='<%=_columnName%>'  ng-model='<%=_ngModel%>' maxlength='<%=_maxlength%>' <%=(_required == 'true')?" required='true' ":""%> <%=(_readonly == 'true')?" readonly ":""%> class='form-control' />

        %span.input-group-btn
          %button.btn.btn-primary{:type => "button", "ng" => {'click' => "#{$btnClick}"}} #{$btnName}

    - elsif inputType == 'textarea'
      :erb
        <textarea name='<%=_columnName%>' ng-model='<%=_ngModel%>' maxlength='<%=_maxlength%>' <%=(_required == 'true')?" required='true' ":""%>  class='form-control' ></textarea>

    - elsif inputType == 'select'
      :erb
        <select name='<%=_columnName%>' ng-model='<%=_ngModel%>' ng-options="<%=(defined? options) ? options : ('_' << _columnKey << '.' <<  ((defined? optionKey)? optionKey : 'id') <<  ' as _' << _columnKey << '.' << ((defined? optionName)? optionKey : 'name') <<  ' for _' <<  _columnKey << ' in dropdowns.' << _columnKey << 'Set') %>" <%=(defined? onchange)? "ng-change='" << onchange << "'" :""%> class='form-control' ></select>

    - elsif inputType == 'date'
      .input-icon.right
        %i.fa.fa-calendar
        :erb
          <input type='text' name='<%=_columnName%>'  ng-model='<%=_ngModel%>' maxlength='<%=_maxlength%>' <%=(_required == 'true')?" required='true' ":""%> <%=(_readonly == 'true')?" readonly ":""%> class='form-control date-picker' />

    - else
      :erb
        <input type='<%=inputType%>' name='<%=_columnName%>'  ng-model='<%=_ngModel%>' maxlength='<%=_maxlength%>' <%=(_required == 'true')?" required='true' ":""%>  class='form-control' />

    - if _required == 'true'
      %p.help-block.font-red-thunderbird{"ng-show" => "#{validrequired(keyword, (_columnKey || 'error'))}"} #{fieldName}不能为空.

    %p.help-block.font-red-thunderbird{"ng-show" => "#{validmaxlength(keyword, (_columnKey || 'error'))}"} #{fieldName} 超过最大长度
