-# portal_name, portal_id
- @portal = data["" << @module[@portal_id] << "-" << @portal_id]

/ PORTLET {"ng": {"show": "!!#{@page_id}.id"}}
.portlet.light.bordered
  .portlet-title
    .caption.font-dark
      %i.fa.fa-beer.font-dark
      %span.caption-subject.bold.uppercase= @portal_name
    .actions
      =yield

  .portlet-body
    -#嵌套模块
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th
            %input.group-checkable{:type => "checkbox", 'ng': {'model':"#{@portal_id}portal.selectedall", 'change': "#{@portal_id}portal.selectAll()"}}/
          %th 操作
          - @portal.listFields.each do |field|
            %th #{field.aliasName || field.fieldName}

      %tbody
        %tr.odd.gradeX{ "ng-repeat" => @portal_id + " in " + @portal_id + "s"}
          %td
            %input.checkboxes{:type => "checkbox", 'ng': {'model': "#{@portal_id}portal.selection[#{@portal_id}.id]", 'change': "#{@portal_id}portal.selectChange()"} }/
          %td
            = partial :'layouts/buttons/update', :locals => {:click => @portal_id + 'portal.update(' + @portal_id + '.id)'}
            = partial :'layouts/buttons/remove', :locals => {:click => @portal_id + 'portal.remove(' + @portal_id + '.id)'}

          - @portal.listFields.each do |column|
            %td
              - if !column.input?
                = bind @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

              - if column.input?
                = bindText column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')
