/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-2
    %div{"js-tree" => "#{@modal_id}portal.treeConfig", "ng-model"=>"#{@modal_id}portal.treeData", "tree-events-obj" => "#{@modal_id}portal.treeEventsObj", "tree" => "#{@modal_id}portal.treeInstance" }

  .col-md-10
    .portlet-input.input-inline
      .input-group
        %input.form-control.input-circle-left{:type=>"text", :size =>'60', 'placeholder' =>"请输入商品名称", "ng-model" => "#{@modal_id}portal.pageFilterText"}/
        .input-group-btn
          %button.btn.green.input-circle-right{"ng-click"=>"#{@modal_id}portal.search()"}
            %i.fa.fa-search

      .portlet-body
        - @modal= data["" << @module[@modal_id] << "-" << @modal_id]

        %table.table.table-striped.table-hover.table-bordered
          %thead
            %tr
              %th
                %input.group-checkable{:type => "checkbox", 'ng': {'model':"#{@modal_id}portal.selectedall", 'change': "#{@modal_id}portal.selectAll()"}}/
              -#%th 操作
              - @modal.listFields.each do |field|
                %th #{field.aliasName || field.fieldName}

          %tbody
            %tr.odd.gradeX{ "ng-repeat" => @modal_id + " in #{@modal_id}portal." +@modal_id+ "s"}
              %td
                %input.checkboxes{:type => "checkbox", 'ng': {'model': "#{@modal_id}portal.selection[#{@modal_id}.id]", 'change': "#{@modal_id}portal.selectChange()"} }/
              -#%td
              -#  = partial :'layouts/buttons/update', :locals => {:click => @modal_id + 'portal.selectrow(' +@modal_id+ '.id)'}

              - @modal.listFields.each do |column|
                %td
                  = bind @modal_id, (column.fieldKey || @modal.fields[column.fieldName] || 'error')

        .row
          .col-md-12.col-sm-12{ 'fa_pagination' => '','search' =>"search()", 'pagination' => 'pagination', 'component' => "#{@modal_id}portal"}
