- if (!defined? filterbar) || filterbar == 'normal'
  .block-filter
    - if (!defined? filterbar) || filterbar == 'normal'
      %form{:name=>"searchform", :role => "form"}
        .row
          .col-md-12
            = partial :'layouts/widget/filter'

    - elsif filterbar == 'page'
      %form{:name=>"searchform", :role => "form"}
        .row
          .col-md-12
            = partial :'layouts/widget/filter_withpage'

-#嵌套模块
%table.table.table-bordered.table-striped.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      - if (!defined? selection) || selection != 'none'
        %th
          %input.group-checkable{:type => "checkbox", 'ng': {'model':"#{@portal_id}portal.selectedall", 'change': "#{@portal_id}portal.selectAll()"}}/

      - if (!defined? inline_toolbar ) || inline_toolbar != 'none'
        %th 操作

      - @portal[$listdataKey].each do |field|
        %th #{field.aliasName || field.fieldName}

  %tbody
    %tr.odd.gradeX{ "ng-repeat" => @portal_id + " in " + @portal_id + "s" + $pagefilter}
      - if (!defined? selection) || selection != 'none'
        %td
          %input.checkboxes{:type => "checkbox", 'ng': {'model': "#{@portal_id}portal.selection[#{@portal_id}.id]", 'change': "#{@portal_id}portal.selectChange()"} }/

      - if (!defined? inline_toolbar ) || inline_toolbar != 'none'
        %td
          - puts "@portal_id: " << @portal_id
          = partial 'layouts/buttons', :locals => {:moduleId => "#{@portal_id}", :funcode => ((defined? funcode)? funcode: ''), :purpose => "portal.inline" }

      - @portal[$listdataKey].each do |column|
        %td
          - if column.filter?
            = bindFilter @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.filter

          - elsif column.input? && column.input == "select"
            = bindSelect column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.options

          - elsif column.input?
            - if column.event?
              = bindTextEvent column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.event

            - else
              = bindText column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

          - else
            = bind @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

- if !(defined? pagingbar)
  .row
    .col-md-12.col-sm-12
      = partial :'layouts/widget/pagination'

