- @portal_id = @portal_id || @page_id

- @portal_name = @portal_name || @page_title

- @portal_object = "" << @portal_id << "portal"

- $pagefilter = (defined? pagefilter)? " | filter: " << pagefilter : (defined? filterbar) && filterbar == "page"? " | filter: pageFilterText": ""

- @portal_prefix = @module[@portal_id]

- @portal = data["" << @module[@portal_id].bundle] ["" << @portal_id]

- $listdataKey = (defined? listdataKey)? listdataKey : "listFields";

- if (!defined? bordered) || (bordered == "true")
  .block
    .header
      = @portal_name
      .pull-right
        = partial 'layouts/buttons', :locals => {:moduleId => "#{@portal_id}", :funcode => ((defined? funcode)? funcode: ''), :purpose => "portal.outline" }

    .content
      = partial 'layouts/widget/portal_table', :locals => locals

- else
  = partial 'layouts/widget/portal_table', :locals => locals
