.block-filter
  - if (!defined? filterbar) || filterbar == 'normal'
    %form{:name=>"searchform", :role => "form"}
      .row
        .col-md-12
          = partial :'layouts/widget/filter'

  - elsif filterbar == 'page'
    %form{:name=>"searchform", :role => "form"}
      .row
        .col-md-12
          = partial :'layouts/widget/filter_withpage'

-#嵌套模块
%table.table.table-bordered.table-striped.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %thead
    %tr
      - if (!defined? selection) || selection != 'none'
        %th
          %input{:type => "checkbox", 'ng': {'model':"#{@portal_id}portal.selectedall", 'change': "#{@portal_id}portal.selectAll()"}}/

      %th 序号

      - if (!defined? inline_toolbar ) || inline_toolbar != 'none'
        %th 操作

      - @portal[$listdataKey].each do |field|
        %th #{field.aliasName || field.fieldName}

  %tbody
    %tr{ "ng-repeat" => @portal_id + " in " + @portal_id + "s" + $pagefilter}
      - if (!defined? selection) || selection != 'none'
        %td
          %input.checkboxes{:type => "checkbox", 'ng': {'model': "#{@portal_id}portal.selection[#{@portal_id}.id]", 'change': "#{@portal_id}portal.selectChange()"} }/
      %td
        {{$index + 1}}

      - if (!defined? inline_toolbar ) || inline_toolbar != 'none'
        %td
          - inline_attr_disabled = (defined? inline_toolbar) && (inline_toolbar.include? "auditing") ? (@portal_id + ".status.dictDetailCode == 'SM00043'") : ""

          // 查看按钮
          - if (defined? inline_toolbar) && ( inline_toolbar.include? "view" )
            = partial :'layouts/buttons/btn', :locals => {:label => "查看", :icon => "fa-file-o", :click => @portal_id + 'portal.view(' + @portal_id + '.id)'}

          // 修改按钮
          - if (!defined? inline_toolbar) || ( inline_toolbar.include? "update" )
            = partial :'layouts/buttons/update', :locals => {:click => @portal_id + 'portal.update(' + @portal_id + '.id)', :disabled => "#{inline_attr_disabled}"}

          // 删除按钮
          - if (!defined? inline_toolbar) || ( inline_toolbar.include? "remove" )
            = partial :'layouts/buttons/remove', :locals => {:click => @portal_id + 'portal.remove(' + @portal_id + ')', :disabled => "#{inline_attr_disabled}"}

          // 选择按钮
          - if (defined? inline_toolbar) && ( inline_toolbar.include? "selected" )
            = partial :'layouts/buttons/btn_info', :locals => {:click => @portal_id + 'portal.checked(' + @portal_id + ')' , :label => '选择', :icon => "fa-check"}

          // 结算
          - if (defined? inline_toolbar) && ( inline_toolbar.include? "payment" )
            = partial :'layouts/buttons/btn_warning', :locals => {:click => @portal_id + 'portal.update(' + @portal_id + '.id)' , :label => '结算', :icon => "fa-check"}

          // 选择按钮
          - if (defined? inline_toolbar) && ( inline_toolbar.include? "checked" )
            = partial :'layouts/buttons/btn', :locals => {:label => "选择", :icon => "fa-circle-o", :click => @portal_id + 'portal.update(' + @portal_id + '.id)'}

          // 审核按钮
          - if (defined? inline_toolbar) && ( inline_toolbar.include? "auditing" )
            = partial :'layouts/buttons/btn', :locals => {:label => "审核", :icon => "fa-gavel", :click => @portal_id + 'portal.auditing(' + @portal_id + '.id)', :disabled => "#{inline_attr_disabled}"}

      - @portal[$listdataKey].each do |column|
        %td
          - if column.filter?
            = bindFilter @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.filter

          - elsif column.input? && column.input == "select"
            = bindSelect column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.options

          - elsif column.input?
            - if column.event?
              = bindTextEvent column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.event

            - else
              = bindText column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

          - else
            = bind @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

- if !(defined? pagingbar)
  .row
    .col-md-12.col-sm-12
      = partial :'layouts/widget/pagination'

