- @portal_id = @portal_id || @page_id

- @portal_name = @portal_name || @page_title

- @portal = data["" << @module[@portal_id] << "-" << @portal_id]

- _lightStyle = (((defined? light) && light == 'none') ? "portlet" : 'portlet light bordered')

// portlet.light.bordered
%div{:class => "#{_lightStyle}"}
  - if (!defined? modal_header) || modal_header != "none"
    .portlet-title
      - if (!defined? modal_caption) || modal_caption != "none"
        .caption.font-dark
          %i.fa.fa-sitemap.font-dark
          %span.caption-subject.bold.uppercase= @portal_name

      .actions
        - if defined? yield
          =yield

        - else
          = partial :'layouts/buttons/insert', :locals => {:click => "#{@portal_id}portal.insert()"}
          = partial :'layouts/buttons/remove', :locals => {:click => "#{@portal_id}portal.remove()", :disabled => "!#{@portal_id}portal.selectedId"}
          = partial :'layouts/buttons/update', :locals => {:click => "#{@portal_id}portal.update()", :disabled => "!#{@portal_id}portal.selectedId"}

  .portlet-body
    %div.list-group
      %a.list-group-item{:href => 'javascript:;', "ng" => {"class":"{active: record.id == #{id}portal.selectedId}", "repeat": "record in #{id}s", "click": "#{id}portal.switched(record.id)"}}
        {{ record.#{fieldName||"name"} }}

