- @portal_id = @portal_id || @page_id

- @portal_name = @portal_name || @page_title

.portlet.light.bordered
  .portlet-title
    .caption.font-dark
      %i.fa.fa-sitemap.font-dark
      %span.caption-subject.bold.uppercase= @portal_name
    .actions
      - if defined? yield
        =yield

      - else
        = partial :'layouts/buttons/insert', :locals => {:click => "#{@portal_id}portal.insert()"}
        = partial :'layouts/buttons/remove', :locals => {:click => "#{@portal_id}portal.remove()", :disabled => "!#{@portal_id}portal.selected"}
        = partial :'layouts/buttons/update', :locals => {:click => "#{@portal_id}portal.update()", :disabled => "!#{@portal_id}portal.selectedId"}

  .portlet-body
    %div{"js-tree" => "#{@portal_id}portal.treeConfig", "ng-model"=>"#{@portal_id}s", "tree-events-obj" => "#{@portal_id}portal.treeEventsObj", "tree" => "treeInstance" }

