
.form-body
  .row
    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '员工编号', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '员工名称', :maxlength => '32', :required => "true"}

    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '员工性别', :maxlength => '32', :required => "true", :options => "type.id as type.valueNameCn for type in dropdowns.sexSet"}

  .row
    .col-md-4
      = partial :'layouts/inputs/date', :locals => {:fieldName => '员工生日', :maxlength => '32'}

    .col-md-8
      = partial :'layouts/inputs/text', :locals => {:fieldName => '身份证号码', :maxlength => '32'}

  .row
    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '员工手机', :maxlength => '32', :required => "true"}

    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '紧急电话', :maxlength => '32'}

    .col-md-4
      = partial :'layouts/inputs/email', :locals => {:fieldName => '联系邮箱', :maxlength => '32'}

  .row
    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '密码', :maxlength => '32', :required => "true"}

    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '所属角色', :maxlength => '32', :options => "type.id as type.valueNameCn for type in dropdowns.roleSet"}

  .row
    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '是否可预约', :maxlength => '32', :required => "true", :options => "type.id as type.valueNameCn for type in dropdowns.isSyncEasSet"}

    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '员工状态', :maxlength => '32', :required => "true", :options => "type.id as type.valueNameCn for type in dropdowns.personStatusSet"}


    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '联系地址', :maxlength => '32'}

