---
layout: "page"
---

- page '员工管理', 'personnel'

= partial 'layouts/widget/portal' do
  = partial :'layouts/buttons/insert', :locals => {:click => "#{@portal_id}portal.insert()"}
  = partial :'layouts/buttons/removes', :locals => {:click => "#{@portal_id}portal.removes()", :disabled => "#{@portal_id}portal.isRemoves"}

/ Modal
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'
