- $click = ((defined? click) ? click: "search()")

- $label = ((defined? label) ? label: "查找")

- if (defined? disabled) && (defined? show)
  %button.btn.btn-circle.btn-success.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}", 'show': "#{show}"}}
    %i.fa.fa-search
    #{$label}

- elsif defined? disabled
  %button.btn.btn-circle.btn-success.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}"}}
    %i.fa.fa-search
    #{$label}

- elsif defined? show
  %button.btn.btn-circle.btn-success.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'show': "#{show}"}}
    %i.fa.fa-search
    #{$label}

- else
  %button.btn.btn-circle.btn-success.btn-sm{:type => "button", 'ng': {'click':"#{$click}"}}
    %i.fa.fa-search
    #{$label}
