- $click = ((defined? click) ? click: "insert()")

- $label = ((defined? label) ? label: "增加")


- if (defined? disabled) && disabled != "" && (defined? show) && show != ""
  %button.btn.btn-circle.btn-primary.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}", 'show': "#{show}"}}
    %i.fa.fa-plus
    #{$label}

- elsif (defined? disabled) && (disabled != "")
  %button.btn.btn-circle.btn-primary.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}"}}
    %i.fa.fa-plus
    #{$label}

- elsif (defined? show) && (show != "")
  %button.btn.btn-circle.btn-primary.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'show': "#{show}"}}
    %i.fa.fa-plus
    #{$label}

- else
  %button.btn.btn-circle.btn-primary.btn-sm{:type => "button", 'ng': {'click':"#{$click}"}}
    %i.fa.fa-plus
    #{$label}

