- $click = ((defined? click) ? click: "remove()")

- $label = ((defined? label) ? label: "删除")

- if (defined? disabled) && ((defined? show) && (show != ""))
  %button.btn.btn-circle.red-sunglo.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}", 'show': "#{show}"}}
    %i.fa.fa-plus
    #{$label}

- elsif defined? disabled
  %button.btn.btn-circle.red-sunglo.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'disabled': "#{disabled}"}}
    %i.fa.fa-plus
    #{$label}

- elsif ((defined? show) && (show != ""))
  %button.btn.btn-circle.red-sunglo.btn-sm{:type => "button", 'ng': {'click':"#{$click}", 'show': "#{show}"}}
    %i.fa.fa-plus
    #{$label}

- else
  %button.btn.btn-circle.red-sunglo.btn-sm{:type => "button", 'ng': {'click':"#{$click}"}}
    %i.fa.fa-plus
    #{$label}
