-#宠物详细信息

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '会员姓名', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '手机', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '宠物昵称', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '性别', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '年龄', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '体重', :maxlength => '16', :cols => '3 9'}


.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '种类', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '品种', :maxlength => '16', :cols => '3 9'}


.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '绝育状态', :maxlength => '16', :cols => '3 9'}

.form-group.form-md-line-input
  = partial :'layouts/inputs/line/text', :locals => {:keyword => 'vip', :fieldName => '病历编号', :maxlength => '16', :cols => '3 9'}
