-#会员挂号
.row
  .col-md-3
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-user
          会员信息
        .actions
          %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
            %i.fa.fa-plus
            选择宠物

          %a.btn.btn-circle.btn-default.btn-sm{:href => "javascript:;"}
            %i.fa.fa-remove
            新增宠物

      .portlet-body.portlet-empty
        = partial 'views/commons/pet_header'

  .col-md-9
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.icon-settings.font-dark
          %span.caption-subject.font-dark.sbold.uppercase 挂号信息

      .portlet-body.form
        .form-body
          .row
            .col-md-4
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '挂号类型', :maxlength => '16'}

            .col-md-4
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '金额', :maxlength => '16'}

          .row
            .col-md-4
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '业务员', :maxlength => '16'}

            .col-md-4
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '医生', :maxlength => '16'}

            .col-md-4
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '助理医生', :maxlength => '16'}

      .form-actions.text-center
        %button.btn.blue{:type => "submit"} 保存挂号
        %button.btn.blue{:type => "submit"} 挂号并付款
        %button.btn.default{:type => "button"} 取消挂号
