/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    .portlet
      .portlet-title
        .caption
          %i.fa.fa-user
          会员信息

      .portlet-body.portlet-empty
        .form-body
          .row
            .col-md-12
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '会员编号', :maxlength => '16'}

          .row
            .col-md-12
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '会员姓名', :maxlength => '16'}

          .row
            .col-md-12
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '会员性别', :maxlength => '16'}

          .row
            .col-md-12
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '会员电话', :maxlength => '16'}

          .row
            .col-md-12
              = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '会员等级', :maxlength => '16'}

          .row
            .col-md-12
              = partial :'layouts/inputs/date', :locals => {:keyword => 'vip', :fieldName => '登记日期', :maxlength => '16'}

  .col-md-9
    .row
      .col-md-12
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.icon-settings.font-dark
              %span.caption-subject.font-dark.sbold.uppercase 宠物信息

          .portlet-body.form
            .row
              .col-md-6
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '编号(自动)', :maxlength => '16'}

              .col-md-6
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物病历号', :maxlength => '16'}

            .row
              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物昵称', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物性别', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物年龄', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '出生日期', :maxlength => '16'}

            .row

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物类型', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '绝育状态', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '体重', :maxlength => '16'}

    .row
      .col-md-12
        .portlet.light.bordered
          .portlet-title
            .caption
              %i.icon-settings.font-dark
              %span.caption-subject.font-dark.sbold.uppercase 挂号信息

          .portlet-body.form
            .row
              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '挂号类型', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '金额', :maxlength => '16'}

            .row
              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '业务员', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '医生', :maxlength => '16'}

              .col-md-3
                = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '助理医生', :maxlength => '16'}


.form-actions.text-center
  %button.btn.blue{:type => "submit"} 保存挂号
  %button.btn.blue{:type => "submit"} 挂号并付款
  %button.btn.default{:type => "button"} 取消挂号
